<div class="reviewer-experiences">
  <h2>Reviewer Experiences</h2>
  {% if site.data.reviewer_experiences %}
    <div style="font-size: 1rem;">
      {% for experience in site.data.reviewer_experiences %}
        {{ experience.conference }} ({{ experience.year }}){% unless forloop.last %}, {% endunless %}
      {% endfor %}
    </div>
  {% endif %}
</div>
